.movies {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movies_search {
    margin-bottom: 60px;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
}

.search_block {
    margin: 15px;

    display: flex;
    align-items: flex-end;
    text-transform: uppercase;
}


.movies_list {
    margin: 0 0 0 80px;
    padding: 0;

    width: 95vw;

    display: flex;
    flex-wrap: wrap;
}

.movie_item {
    margin-right: 65px;

    display: flex;
    flex-direction: column;
}

.movie_info {
    width: 250px;
}

h3 {
    margin: 0;
    padding: 0;
    display: inline-block;
}

h3 p {
    margin: 0 10px 0 0;
    padding: 0;
}

.button {
    margin-left: 10px;

    width: 150px;
    height: 50px;

    border: none;
    border-radius: 7px;

    text-transform: uppercase;
    background-color: #0e723a;
    color: white;
}

.button:hover {
    outline: none;
    background: #dedb68;
    color: #030303;
    cursor: pointer;
    transition: background-color 0.8s cubic-bezier(0.1, 0.8, 0.5, 2), color 0.4s 0.4s linear;
}

.input {
    padding: 5px 5px 5px 15px;

    width: 300px;

    font-size: 20px;

    border: none;
    outline: none;
    border-bottom: 1px solid #0e723a;
}
